<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
    <link href="https://nasobe.ru/blozhik/style.css" rel="stylesheet">
    <meta name='description' content='<%= description %>'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- (json) %>
    <link rel="icon" href="https://nasobe.ru/images/js.svg">
    <link rel="canonical" href=https://nasobe.ru/new/<%- url %>>
</head>
<body>
  <main>
    <article>
      <h1><%= title %></h1>
      <p><%- article %></p>
      <p style="text-align:end;"><%= autor %></p>
      <a href="https://nasobe.ru/new/list">to list</a>
    </article>
  </main>
  <!-- <picture>
    <img src="https://nasobe.ru/images/fozzy/ssd-480x320.png" alt="фози быстрее быстрого">
  </picture> -->
</body>
<html>
