<!DOCTYPE html>
<html>
  <head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="views/style.css" rel="stylesheet">
    <link href="https://nasobe.ru/blozhik/style.css" rel="stylesheet">
    <link rel="icon" href="https://nasobe.ru/images/js.svg">
  </head>
  <body>
  <main>
    <article>
      <h1>Регистрация пройдена успешно! Поздравляем: <%= login %></h1>
      <p><%= password %></p>
      <p><%= email %></p>
      <p><%= Name %></p>
      <p><%= Lastname %></p>
      <p><%= age %></p>
      <p><%= floor %></p>
      <p><%= blod_type %></p>
      <p><%= profession %></p>
      <p><%= having_children %></p>
      <p><%= marital_status %></p>
      <p><%= hobby %></p>
      <p><%= education %></p>

    </article>
  </main>
  </body>
</html>
